bin
obj
*.user
*.suo
*.log
*.bak
*.ncrunchproject
*.ncrunchsolution
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.crunchsolution.cache
*.dotCover
Thumbs.db
Debug/
Release/
Build/
Deploy/
Tinamous/App_Data/Log.txt
_ReSharper*/
_NCrunch*/